<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
<div class="content_main" style="margin-left: 20%;margin-right: 20%;">
    <div id="iframe_home" class="iframe cur">
        <p><h4>JobAnalysis后台管理系统</h4></p>
        <p><b>系统简介</b>
        <p>本系统用于管理项目<b>基于大数据技术的岗位画像和求职者画像设计</b>的基本数据</p>
        <p>提供了：</p>
        <p>对用户， 爬取的数据（工作信息）的添加，编辑，删除。</p>
        <p>对数据收集（爬虫）的基本管理。</p>
        <p>对数据清洗，挖掘，分析的基本设置。</p>
        <p>数据与数据库的接入。</p>
        </p><br/>
        <p><h4>系统功能概述：</h4></p>
        <ul>
            <li>
                <b>Job 管理</b>：
                <p>对爬取的数据（工作信息）的管理，支持对名称，工资范围，最低学历要求，
                    工作地点，公司名称，工作经验要求，招聘人数，工作详情描述，原网页信息共 9 项信息的的增加，编辑，删除操作。</p>
            </li>
            <li>
                <b>用户管理</b>：
                <p>对网站用户的管理，支持添加，编辑，删除。</p>
            </li>
            <li>
                <b>爬虫管理</b>：
                <p>支持设置爬取的网站，现在支持 51Job，智联招聘两个网站的工作信息。爬取的信息分别存放在不同文件夹下。</p>
                <p>支持设置数据的储存路径</p>
                <p>支持设置爬虫的执行频率，可以按天，小时，分钟（DAYS，HOURS，SECONDS）做单位。</p>
            </li>
            <li>
                <b>数据清洗</b>：
                <p>数据清洗是对爬虫得到的数据进行格式化。</p>
                <p>支持设置要进行清洗操作的数据的所在目录（输入目录），默认为爬虫数据存储目录。</p>
                <p>支持设置清洗的频率，可以按天，小时，分钟（DAYS，HOURS，SECONDS）做单位。默认与爬虫一致。</p>
            </li>
            <li>
                <b>数据挖掘-聚类</b>：
                <p>聚类是为了得到数据之间的关系。</p>
                <p>支持设置聚类的输入，输出目录。</p>
            </li>
            <li>
                <b>数据整理</b>
                <p>把整理出来的数据储存至数据库。系统会自动建表。</p>
                <p>调用的 Hdfs 的接口。理论上常用关系型数据库都可以使用，我们目前只完成了与 mysql 的对接。</p>
                <p>此网站展示的数据就是存放在 Mysql 的数据。</p>
            </li>
        </ul>

      <p><h4>关于本系统</h4></p>
        <p><b>前端</b>：该系统前端来源于开源项目，原地址 <a href="https://github.com/shuzheng/zhengAdmin">zhengAdmin</a></p>
        <p>遵循开源协议 MIT 。</p>
    </div>
</div>
</body>
</html>